.Box {
    border: 1px solid black;
    border-radius: 1%;
    padding: 5px;
    margin:5px
    

}
.flex-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}